.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 1rem;
  height: 64px;
  box-shadow: rgb(0 0 0 / 8%) 0 1px;

  @media screen and (max-width: 800px) {
    padding: 0.5rem;
    height: 48px;
  }

  &__slogan {
    max-width: 300px;
    font-size: 0.75rem;

    @media screen and (max-width: 800px) {
      font-size: 1rem;
    }

    overflow: hidden;
    text-overflow: ellipsis;

    .slogan {
      color: #636369;
      &--highlight {
        font-weight: 600;
        margin-right: 8px;
      }
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  }

  &__findroom {
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background: #f2f2f3;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 0.875rem;

    input {
      border: none;
      background: transparent;
      outline: none;
    }

    @media screen and (max-width: 800px) {
      padding: 0rem 0.5rem;
    }
  }
}
