@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "wght" 500;
  font-weight: 500;
}

.background-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 141%;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.login-aside {
  height: 100%;
  width: 60%;
  z-index: -1;
  right: 0;
  position: absolute;
  background: url(../assets/shamiron-bormon-sudoku.jpeg), linear-gradient(90deg, rgba(255, 255, 255, 0.9411764706), transparent 50%);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}
.login-aside::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
  opacity: 1;
  background-image: url(https://assets.codepen.io/13471/sparkles.gif), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, rgba(255, 0, 132, 0.3137254902) 15%, rgba(252, 164, 0, 0.2509803922) 30%, rgba(255, 255, 0, 0.1882352941) 40%, rgba(0, 255, 138, 0.1254901961) 60%, rgba(0, 207, 255, 0.2509803922) 70%, rgba(204, 76, 250, 0.3137254902) 85%);
  background-position: 50% 50%;
  background-size: 150%, 50%, 150%;
  background-repeat: repeat, repeat, repeat;
  background-blend-mode: overlay;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  opacity: 1;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #0066ff;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  background-color: #005ce6;
}

input {
  border: 1px solid #d7dfe9;
}

.rubik-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 141%;
  justify-content: center;
  align-items: center;
  background-color: #171718;
  perspective: 1000px;
  color: hsla(0deg, 0%, 100%, 0.9);
}

.rubik-layout {
  will-change: transform;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0);
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.rubik-layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  position: absolute;
  width: 75vmin;
  height: 75vmin;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.rubik-cell {
  position: relative;
  background-color: #171718;
  transform: scale3d(1, 1, 6);
  transform-style: preserve-3d;
}

.rubik-cell-color {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #f01f4c;
  opacity: 0.5;
  transform: translate3d(0px, 0px, -10px);
  transform-style: preserve-3d;
}
.rubik-cell-color.orange {
  background-color: #f0841f;
  transform: translate3d(0px, 0px, -20px);
  transform-style: preserve-3d;
}
.rubik-cell-color.yellow {
  background-color: #f0d01f;
  transform: translate3d(0px, 0px, -30px);
  transform-style: preserve-3d;
}
.rubik-cell-color.green {
  background-color: #6cf01f;
  transform: translate3d(0px, 0px, -40px);
  transform-style: preserve-3d;
}
.rubik-cell-color.blue {
  background-color: #31b3ff;
  transform: translate3d(0px, 0px, -50px);
  transform-style: preserve-3d;
}
.rubik-cell-color.indigo {
  background-color: #4231ff;
  transform: translate3d(0px, 0px, -60px);
  transform-style: preserve-3d;
}
.rubik-cell-color.violet {
  background-color: #f344ff;
  transform: translate3d(0px, 0px, -70px);
  transform-style: preserve-3d;
}

/*# sourceMappingURL=global.css.map */
