@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap");

html {
  font-family: "Noto Sans", sans-serif;
}

.background-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 141%;
  justify-content: center;
  align-items: center;
  background-color: #171718;
  perspective: 1000px;
  color: hsla(0, 0%, 100%, 0.9);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    mix-blend-mode: color-dodge;
    transition: all 0.33s ease;
    opacity: 1;
    background-image: url(https://assets.codepen.io/13471/sparkles.gif),
      url(https://assets.codepen.io/13471/holo.png),
      linear-gradient(
        125deg,
        #ff008450 15%,
        #fca40040 30%,
        #ffff0030 40%,
        #00ff8a20 60%,
        #00cfff40 70%,
        #cc4cfa50 85%
      );
    background-position: 50% 50%;
    background-size: 150%, 50%, 150%;
    background-repeat: repeat, repeat, repeat;
    background-blend-mode: overlay;
    z-index: -1;
    filter: brightness(1) contrast(1);
    transition: all 0.33s ease;
    opacity: 1;
  }
}
