/*
 * when the user visits this page, this style will apply, when they leave, it
 * will get unloaded, so don't worry so much about conflicting styles between
 * pages!
 */

* {
  box-sizing: border-box;
}

form {
  width: 100%;
}

body {
  margin: 0;
  background-image: var(--gradient-background);
}

.grid-layout {
  will-change: transform;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0);
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.grid-layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  position: absolute;
  width: 75vmin;
  height: 75vmin;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.password-cell {
  position: relative;
  background-color: #171718;
  transform: scale3d(1, 1, 6);
  transform-style: preserve-3d;
}

.password-cell-color {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #f01f4c;
  opacity: 0.5;
  transform: translate3d(0px, 0px, -10px);
  transform-style: preserve-3d;

  &.orange {
    background-color: #f0841f;
    transform: translate3d(0px, 0px, -20px);
    transform-style: preserve-3d;
  }

  &.yellow {
    background-color: #f0d01f;
    transform: translate3d(0px, 0px, -30px);
    transform-style: preserve-3d;
  }
  &.green {
    background-color: #6cf01f;
    transform: translate3d(0px, 0px, -40px);
    transform-style: preserve-3d;
  }
  &.blue {
    background-color: #31b3ff;
    transform: translate3d(0px, 0px, -50px);
    transform-style: preserve-3d;
  }
  &.indigo {
    background-color: #4231ff;
    transform: translate3d(0px, 0px, -60px);
    transform-style: preserve-3d;
  }
  &.violet {
    background-color: #f344ff;
    transform: translate3d(0px, 0px, -70px);
    transform-style: preserve-3d;
  }
}

.login-content {
  margin-right: auto;
  height: 100%;
  width: 60%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content {
    width: 100%;
    max-width: 24rem;
  }
}

button {
  border-radius: 10px;
  width: 100%;
  padding: 0.75rem;
  color: white;
}

input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #333333;
}

.login-field {
  margin: 1.5rem 0;
  label {
    font-size: 0.875rem;
    display: block;
    margin: 1.5rem 0 0.5rem;
  }
}

.form-validation-error {
  margin: 0.5rem 0 1rem;
  color: #e12120;
  font-size: 0.8rem;
}
