@charset "UTF-8";
.count-down-info {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.user-status {
  text-transform: capitalize;
}

.start-button {
  margin-bottom: 0.5rem;
}
.start-button-c {
  display: flex;
  justify-content: center;
}

a.game-back {
  background-color: unset;
  color: unset;
  position: absolute;
  text-decoration: none;
  color: unset;
  font-weight: 600;
  font-size: 0.85rem;
  left: 1rem;
  top: 1rem;
}

.sudoku-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-flex-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.game-flex-wrapper .game-intro {
  margin-top: 1rem;
}

.game-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  background-color: #f3f6fa;
}
.game-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.game {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.game-table,
.game-table:after {
  display: block;
  box-sizing: border-box;
  height: 100%;
}

.game-table:after {
  content: "";
  position: absolute;
  left: 33.3333%;
  width: 33.3333%;
  top: 0;
  border-left: 2px solid #344861;
  border-right: 2px solid #344861;
  pointer-events: none;
}

.game-table {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border: 2px solid #344861;
}

.game-row,
.game-table tbody:after {
  width: 100%;
}

.game-table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.game-table tbody:after {
  box-sizing: border-box;
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 33.3333333333%;
  height: 33.3333333333%;
  border-top: 2px solid #344861;
  border-bottom: 2px solid #344861;
  pointer-events: none;
  box-sizing: border-box;
}

.game-row {
  width: 100%;
  display: flex;
  height: 11.1111111111%;
}

.game-row:nth-child(3n) .game-cell {
  border-bottom: 0;
}

.game-cell {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-basis: 11.1111111111%;
  border-right: 1px solid #bec6d4;
  border-bottom: 1px solid #bec6d4;
}
.game-cell::after {
  padding-bottom: 100%;
  content: "";
  display: block;
}
.game-cell.table-hightlight {
  background-color: #ffffe8;
}
.game-cell.number .cell-value {
  color: #187bcd;
}
.game-cell.number-conflict .cell-value {
  color: #e12120;
}
.game-cell.match-cell .cell-value {
  color: #0e8161;
}
.game-cell.number-hightlight {
  background-color: rgba(232, 232, 174, 0.6901960784);
}
.game-cell.cell-selected {
  background-color: #fbfba1;
}
.game-cell.enemy-cell::before, .game-cell.user-cell::before {
  border-radius: 20%;
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-image: var(--avatar-image-cell);
}
.game-cell.user-cell::before {
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
}
.game-cell.enemy-cell {
  opacity: 0.7;
}
.game-cell.enemy-cell::before {
  width: 12px;
  height: 12px;
  bottom: 0;
  left: 0;
}
.game-cell.ending-cell {
  background-color: unset;
}

.game-cell:nth-child(3n) {
  border-right: 0;
}

.cell-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 100;
  color: #666;
  text-align: center;
}

.cell-value span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: clamp(0px, 5vw, 30px);
}

.game-controls-wrapper {
  height: 100%;
  position: relative;
  min-width: 200px;
  max-width: 360px;
  max-height: 500px;
  width: 50%;
  margin-left: 20px;
  user-select: none;
  transition: opacity 0.3s ease-in-out;
}

.numpad-wrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

.numpad {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.numpad-item {
  position: relative;
  width: 33.3333%;
  box-sizing: border-box;
  padding: 7% 0 6%;
  text-align: center;
  border-color: #bec6d4;
  border-style: solid;
  border-width: 1px 0 0 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.numpad-wrapper .numpad-item span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 32px;
  color: #344861;
  transition: color 0.2s ease-in-out;
  transform: translateY(-50%);
  font-size: clamp(0px, 5vw, 30px);
}

.numpad-wrapper .numpad-item:nth-child(3n) {
  border-right-width: 1px;
}

.game-controls {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -moz-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.game-controls .game-controls-buttons {
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.game-controls .game-controls-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  padding: 12px 0 6px;
  text-align: center;
  cursor: pointer;
  border-color: #bec6d4;
  border-style: solid;
  border-width: 1px 0 0 1px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.game-controls .game-controls-pencil .svg-wrapper {
  position: relative;
}

.game-controls .game-controls-item .icon-game-control {
  width: 30px;
  height: 32px;
  color: #344861;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

svg:not(:root) {
  overflow: hidden;
}

.game-controls .game-controls-label {
  font-size: 14px;
  color: #344861;
}

.game-controls-wrapper nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.sudoku-wrapper {
  outline: none;
}

@media screen and (max-width: 800px) {
  .sudoku-wrapper {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .game-flex-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 1070px) {
  .game-controls-wrapper {
    max-width: none;
  }
}
@media screen and (max-width: 660px) {
  .game-controls-wrapper {
    min-width: 100px;
  }
}
@media screen and (max-width: 800px) {
  .game-controls-wrapper {
    height: unset;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .game-controls-wrapper nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 800px) {
  .numpad-wrapper .numpad {
    position: relative;
  }
}
@media screen and (max-width: 800px) {
  .numpad-wrapper .numpad-item {
    -webkit-flex-basis: 11.11111%;
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%;
    border: 0;
  }
}
@media screen and (max-width: 800px) {
  .game-controls .game-controls-buttons {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0;
  }
}
@media screen and (max-width: 800px) {
  .game-controls .game-controls-item {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    border: 0;
    padding: 10px 30px 7px;
  }
}
.new-game-button {
  cursor: pointer;
  height: 60px;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #4a90e2;
  font-size: 20px;
  font-weight: 600;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.game-controls .game-controls-item:nth-child(3),
.game-controls .game-controls-item:nth-child(4) {
  border-bottom-width: 1px;
}

.game-controls .game-controls-item:nth-child(2n) {
  border-right-width: 1px;
}

.score-wrapper {
  margin: 32px;
  margin-top: 36px;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-info {
  min-width: 6rem;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.75rem;
  color: #eee4da;
  background-color: #bbada0;
  background: url(../../assets/bg-score.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score-info::before {
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  top: -16px;
  right: -16px;
  width: 32px;
  height: 32px;
  background-image: var(--avatar-image);
}
.score-info .plus-point {
  color: white;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  bottom: 10px;
  width: 100%;
  text-align: center;
  background: none;
  animation-name: fly-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.score-info.user-offline {
  opacity: 0.5;
}
.score-info.user-winner::after {
  display: block;
  content: "👑";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  font-size: 3rem;
}

@keyframes fly-up {
  0% {
    transform: translateY(0px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

/*# sourceMappingURL=index.css.map */
