.lobby-c {
  display: grid;
  grid-template-columns: 0fr 2fr 0fr;
  gap: 4rem;
  transition: 500ms;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .lobby-c {
    display: block;
    padding: 0.5rem;
  }
  .lobby-c .list-user {
    display: none;
  }
}

.lobby-c:has(.list-room-c.show) {
  grid-template-columns: 0.75fr 2fr 0fr;
}

.lobby-c:has(.list-user-c.show) {
  grid-template-columns: 0fr 2fr 0.75fr;
}

.lobby-c:has(.list-user-c.show):has(.list-room-c.show) {
  grid-template-columns: 1fr 2fr 1fr;
}

.list-room {
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.list-room-w {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.0784313725) 0 1px, rgba(0, 0, 0, 0.0784313725) 1px 0px;
  border-radius: 8px;
  height: 90%;
}
.list-room-c {
  min-width: 0;
  margin-top: 1rem;
}
.list-room-tag {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.75rem;
}
.list-room-tag span {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.list-room .room-info {
  white-space: nowrap;
}
.list-room .room-info:hover {
  background-color: #f2f2f3;
}
.list-room .room-info__door {
  display: none;
}
@media screen and (max-width: 800px) {
  .list-room .room-info__door {
    display: block;
  }
}
.list-room .room-info a {
  padding: 1rem 1rem;
  display: flex;
  color: black;
  text-decoration: none;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}
.list-room .room-info a .room-info__time {
  font-size: 0.75rem;
  color: #636369;
}
@media screen and (max-width: 800px) {
  .list-room .room-info a {
    gap: 0rem;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .list-room .room-info-c {
    overflow: auto;
    display: flex;
  }
}

.list-user {
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}
.list-user-w {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.0784313725) 0 1px, rgba(0, 0, 0, 0.0784313725) -1px 0px;
  border-radius: 8px;
  height: 90%;
}
.list-user-c {
  min-width: 0;
  margin-top: 1rem;
}
.list-user-tag {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-100%) translateY(-50%);
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.75rem;
}
.list-user-tag span {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.list-user .user-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  white-space: nowrap;
  padding: 1rem 1rem;
}
.list-user .user-info a {
  display: block;
  color: black;
  text-decoration: none;
}
.list-user .user-info__avatar {
  border-radius: 12px;
}

.empty-info {
  color: #636369;
  font-size: 0.875rem;
  padding: 1rem;
  text-align: center;
}
.empty-info .empty-text {
  white-space: nowrap;
  padding: 1rem;
}
.empty-info img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .list-room-w,
  .list-user-w {
    box-shadow: none;
  }
  .list-room-tag,
  .list-user-tag {
    display: none;
  }
}

/*# sourceMappingURL=home.css.map */
